{% extends 'base.html' %}

{% block title %}booking{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
        
        <div class="row">
            <div class="col form-div">
                <div class="book-div">
                    <div class="form-logo-div">
                        <img src="{{ shop_info.logo.url }}" alt="JJODEM">
                        <hr>
                        <p>You are booking {{ car_to_book }}</p>
                        <p>Enter required details to book your ride.</p>
                    </div>
                    
                    <form method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    {% include 'footer.html' %}
{% endblock content %}
