{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
        <hr><h5 class="book-h5">Book Car</h5><hr>
        <div class="row">
            <div class="col detail-bg">
                <div class="book-div">
                    <p>You are booking {{ car_to_book }}</p>
                    <form method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    {% include 'footer.html' %}
{% endblock content %}