{% extends 'base.html' %}

{% block title %}Change Complete{% endblock %}
{% block content %}
    <div class="row">
        <div class="col form-div">
            <div class="form-wrapper">
                <div class="form-logo-div">
                    <img src="{{ shop_info.logo.url }}" alt="JJODEM">
                </div>

                <div class="input-row">
                    <p>Your password has been successfully changed.</p>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}