{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="row">
        <div class="col form-div">
            <div class="form-wrapper">
                <div class="form-logo-div">
                    <img src="{{ shop_info.logo.url }}" alt="JJODEM">
                </div>

                <h5>Password reset</h5>
                {% if validlink %}
                    <form method="post">
                        <div class="input-row">
                            <div class="mb-3">
                                <label for="id_password" class="form-label">Password</label>
                                <div>
                                    {{ form.password }}
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="id_password_confirm" class="form-label">Confirm Password</label>
                                <div class="col-70">
                                    {{ form.password2 }}
                                </div>
                            </div>
                        </div>

                        {% csrf_token %}
                        <div class="form-btn">
                            <button type="submit" class="btn btn-primary">Change my password</button>
                        </div>
                    </form>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. <br>
                        Please request a new password reset link.        
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}