{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="row">
        <div class="col form-div">
            <div class="form-wrapper">
                <div class="form-logo-div">
                    <img src="{{ shop_info.logo.url }}" alt="JJODEM">
                </div>

                <h5>Password set</h5>
                <p>Your password has been set. You can <a href="{% url 'login' %}">Log in now</a></p>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}