{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}
{% block content %}
    {% include 'navbar.html' %}

    <div class="row">
        <div class="col form-div">
            <div class="form-wrapper">
                <div class="form-logo-div">
                    <h4><img src="{{ shop_info.logo.url }}" alt="JJODEM">Forgotten your password</h4>
                    <p>Enter your e-mail address to obtain a password reset link.</p>
                </div>
                                
                <form method="post">
                    <div class="input-row">
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email Address</label>
                            <div>
                                {{ form.email }}
                            </div>  
                        </div>
                        
                        <div class="form-btn">
                            <button type="submit" class="btn btn-primary">Send e-mail</button>
                            {% csrf_token %}
                        </div>
                    </div>
                    <!-- {{ form.as_p }} -->
                    
                </form> 
            </div>
        </div>
    </div>
    

    {% include 'footer.html' %}
{% endblock %}