{% extends 'base.html' %}

{% block title %}Change password{% endblock %}
{% block content %}
    {% include 'navbar.html' %}

    <div class="row">
        <div class="col form-div">
            <div class="form-wrapper">
                <div class="form-logo-div">
                    <img src="{{ shop_info.logo.url }}" alt="JJODEM">
                </div>

                <form method="post">
                    <div class="input-row">
                        <h5>Change your password</h5>
                        {{ form.as_p }} <!--MODIFICATION-->
                    </div>
                    <div class="form-btn">
                        <button type="submit" class="btn btn-primary">Change</button>
                        {% csrf_token %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% include 'footer.html' %}
{% endblock %}