.nav-link a{
    color: #ffffff;
    font-size: 1.2em;
}
.nav-link a:hover{
    background-color: #FFE6E8;
    border-radius: 6px;
    color: #026C3D;
}
.nav-link li{
     margin-left: 12px;
}
.nav-items{
    background-color: #F70D1A;
}

/* MOBILE DISPLAY FOR TO NAV*/
@media only screen and (max-width: 768px) {
  .mobile-display {
    display: none;
  }
}
