{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="row about-view">
        <div class="col-12">
            <div class="about-view-div">
                <h5>Who We Are</h5>
                <p>
                    Welcome to <b>JJODEM TRANSPORT & LOGISTICS</b>, your premier destination for reliable and convenient cars. <br>
                    With a passion for exceptional service and a commitment to providing top-quality vehicles,
                    we strive to make every journey memorable.
                </p><hr>
                <p>
                    At <b>JJODEM T&L</b>, we understand <b> flexibility, comfort, reliability</b> and <b>affordability</b> <br>
                    Be it traveling for business or pleasure, we have a diverse fleet of well-maintained vehicles to cater for your specific needs.<br>
                </p><hr>
                <p>
                    <h5>What do we offer?</h5>
                    <ul>
                        <li>- Simple and affordable cars.</li>
                        <li>- User-friendly booking platform.</li>
                        <li>- Attentive customer support.</li>
                    </ul> <br>
                    Join us at <b>JJODEM T&L</b> and experience the freedom of the open road with confidence.
                    We look forward to being your trusted partner in all your travel adventures.
                </p>
                <hr>

                <p class="about-links">Read Our
                    <a href="{% url 'rentals:terms-and-condition' %}">Terms & Conditions,</a>
                    <a href="{% url 'rentals:terms-and-condition' %}">Privacy Policy</a>
                    <a href="{% url 'rentals:inventory-list' %}">Explore Our Vehicles</a>
                </p>

                <div class="contact-view-div">
                    <h5>Contact Details</h5>
                    <p>
                        <address>
                            Box 3332 Kaneshie <br>
                            Accra, Ghana <br>
                        </address>  
                    </p>
                    <p>
                        <a href="tel:+233547813006">Tel: {{shop_info.mobile}}</a><br>
                        <a href="mailto:jjodemlogistics@gmail.com">Email: {{shop_info.email}}</a>
                    </p>
                </div>  
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}