{% extends 'base.html' %}

{% block title %}Car Details{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    
    <div class="row" style="background-color: #FFF0F5;">
        <div class="col-12">
            <div class="detail-card">
                <img src="{{car.model_image.url}}" style="width: 50%; height: 65%;" alt="...">
                <h5 class="">{{car.brand_name}} | {{car.model_name}}</h5>
                <div class="row">
                    <div class="col-6">
                        <p><b>{{car.number_of_doors}} Doors</b></p>
                        <p><b>{{car.number_of_passengers}} People</b></p>
                        <p><b>{{car.fuel}}</b></p>      
                    </div>
                    <div class="col-6">
                        <p><b>{{car.transmission}}</b></p>
                        <p><b>{{car.drive_type}}</b></p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="row"><hr><!--RECOMMENDATION SPOT-->
        {% if similar_cars %}  
            <h4>Check Out Similar Type of Cars</h4>
            {% for car in similar_cars %}
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <a href="{% url 'car-detail' car.id %}">
                        <div class="card recommendation-card">
                            <img src="{{car.model_image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">
                                    {{car.brand_name}} | {{car.model_name}}
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %} 
    </div>

    <div class="row"><!--REVIEW SPOT-->
        <div class="col-sm-6 col-md-3 col-lg-2">
            REVIEW SPOT
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock content %}