{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="row" style="background-color: #F7F7F7;">
        {% if filter_car %}
            {% for car in filter_car %}
                <div class="col-4">
                    <div class="card home-card" style="width: 18rem;">
                        <img src="{{car.model_image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">{{car.brand_name}} | {{car.model_name}}</h6>
                            <a href="{% url 'car-detail' car.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>Sorry! We do not have this type of cars in our warehouse.</h3>
        {% endif %}
    </div>

    {% include 'footer.html' %}
{% endblock content %}