{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="row home-div" style="background-color: #F7F7F7;">
        <h5>What Type of Car Are You Looking For?</h5>
        {% for car in car_type %}
            <div class="col-4">
                <div class="card home-card" style="width: 18rem;">
                    <img src="{{car.type_image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{car.type_name}}</h5>
                        <p class="card-text">{{car.description}}</p>
                        <a href="#" class="btn btn-primary">Explore {{car.type_name}}s</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% include 'footer.html' %}
{% endblock content %}