{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block content %}
    {% include 'navbar.html' %}

    <div class="row home-main-div search-div" style="background-color: #F7F7F7;">
        {% if safe_query %}
            <div class="about-view-div">
                <h4>Available "{{safe_query}}" cars</h4>

                {% with results.count as total_results %}
                    <p>Found {{total_results}} car{{total_results|pluralize}} matching "{{safe_query}}"</p>
                {% endwith %} 
                <form action="{% url 'search' %}" method="GET" class="inner-search-form">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-sm form-style"
                                name="search-data" placeholder="Enter brand or model name here">
                        <button type="submit" class="btn-dark">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <hr>

                {% for car in results %}
                    <div class="col-4">
                        <a href="{% url 'car-detail' car.id %}">
                            <div class="card home-card" style="width: 18rem;">
                                <img src="{{car.model_image.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title">{{car.brand_name}} | {{car.model_name}}</h6>
                                    <button class="btn btn-primary">Details</button>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="about-view-div">
                <h6>No search item entered. <br> Enter a car brand or model.</h6>
                <form action="{% url 'search' %}" method="GET" class="inner-search-form">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-sm form-style"
                                name="search-data" placeholder="Enter brand or model name here">
                        <button type="submit" class="btn-dark">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    
    {% include 'footer.html' %}
{% endblock content %}