{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block content %}
    {% include 'navbar.html' %}

    <div class="search-view-div">
        {% if safe_query != None %}
            <div class="row">
                <div class="col">
                    <h4>Available "{{safe_query}}" cars</h4>
                    <p>Found {{ paginator.count }} car{{ paginator.count|pluralize }} matching "{{ safe_query }}"</p>
                    <hr>
                </div>
            </div>

            <div class="row">
                {% if search_results %}
                    {% for car in search_results %}
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="card home-card"">
                                <a href="{% url 'rentals:car-detail' car.id %}">
                                    <img src="{{car.model_image.url}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title">{{car.brand_name}} | {{car.model_name}}</h6>
                                        <button class="btn btn-primary">Details</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <hr>
            <!--PAGINATION-->
            {% if paginator %}
                {% if search_results.has_other_pages %}
                    <div class="paginator">
                        <span class="step-links">
                            {% if search_results.has_previous %}
                                <a href="?page=1{% if safe_query %}&data={{ safe_query }}{% endif %}">First</a>
                                <a href="?page={{ search_results.previous_page_number }}{% if safe_query %}&data={{ safe_query }}{% endif %}">
                                    Previous
                                </a>
                            {% endif %}

                            <span class="current">
                                Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}
                            </span>

                            {% if search_results.has_next %}
                                <a href="?page={{ search_results.next_page_number }}{% if safe_query %}&data={{ safe_query }}{% endif %}">
                                    Next
                                </a>
                                <a href="?page={{ search_results.paginator.num_pages }}{% if safe_query %}&data={{ safe_query }}{% endif %}">
                                    Last
                                </a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% endif %}
        {% else %} <!--ELSE FOR if safe query equal to none-->
            <div class="row search-div">
                <div class="col">
                    <h6>No query entered. <br> Type a car brand or model.</h6>
                    <form action="{% url 'rentals:search' %}" method="GET" class="inner-search-form">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-sm form-style"
                                    name="data" placeholder="Enter brand or model name here">
                            <button type="submit" class="btn-dark">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'footer.html' %}
{% endblock content %}