{% extends 'base.html' %}

{% block title %}Terms and Privacy{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="row search-div">
        <div class="col about-view-div">
            <div class="tandc-privacy">
                <h3><b>JJODEM LOGISTICS LTD.</b></h3><hr>
                <!--TERMS AND CONDITION-->
                <h4>Terms and Conditions for Car Rental Service</h4>
                <dl>
                    <dt>1. Agreement</dt>
                    <dd>1.1 By signing this agreement, the renter acknowledges and agrees to abide by all
                        terms and conditions outlined herein.
                    </dd>
                    <dd>
                        1.2 The rental agreement is between <b>JJODEM LOGISTICS LTD.</b>, hereinafter referred to
                        as "the Company," and the renter, hereinafter referred to as "the Renter."
                    </dd>
                    <dt>2. Rental Requirements</dt>
                    <dd>
                        2.1 The Renter must be at least 21 years old and possess a valid driver's license
                        at the time of rental.
                    </dd>
                    <dd>
                        2.2 Additional drivers may be added to the rental agreement at an extra charge and
                        must meet the same requirements as the primary Renter.
                    </dd>
                    <dt>3. Vehicle Use</dt>
                    <dd>
                        3.1 The rented vehicle is permitted for personal transportation purposes and commercial use.
                        Ridesharing services, is strictly prohibited.
                    </dd>
                    <dd>
                        3.2 The Renter agrees not to sublease, lend, or otherwise allow unauthorized individuals to
                        operate the rented vehicle.
                    </dd>
                    <dd>
                        3.3 The Renter is responsible for ensuring that the vehicle is used in compliance with all
                        applicable laws and regulations.
                    </dd>
                    <dt>4. Rental Period</dt>
                    <dd>
                        4.1 The rental period begins at the agreed-upon pick-up time and ends upon the return of the
                        vehicle to the Company's designated location.
                    </dd>
                    <dd>
                        4.2 Late returns may result in additional charges, as outlined in the rental agreement.
                    </dd>
                    <dt>5. Payment and Charges</dt>
                    <dd>
                        5.1 The Renter agrees to pay the rental fee, including any applicable taxes, fees, and surcharges,
                        as specified in the rental agreement.
                    </dd>
                    <dd>
                        5.2 The Company reserves the right to charge a security deposit at the time of rental,
                        refundable upon the return of the vehicle in the same condition as it was rented.
                    </dd>
                    <dt>6. Vehicle Condition and Maintenance</dt>
                    <dd>
                        6.1 The Renter agrees to return the vehicle in the same condition as it was rented,
                        excluding normal wear and tear.
                    </dd>
                    <dd>
                        6.2 The Renter is responsible for any damage to the vehicle during the rental period,
                        including but not limited to accidents, collisions, and vandalism.
                    </dd>
                    <dd>
                        6.3 The Company will provide routine maintenance and service for the rented vehicle as needed.
                    </dd>
                    <dt>7. Liability and Insurance</dt>
                    <dd>
                        7.1 The Renter acknowledges that they are responsible for any loss or damage to the vehicle,
                        including theft, regardless of fault.
                    </dd>
                    <dd>
                        7.3 The Company's liability is limited to the terms of the rental agreement and applicable law.
                    </dd>
                    <dt>8. Cancellations and Refunds</dt>
                    <dd>
                        8.1 Cancellations made are not refundable.
                    </dd>
                    <dt>9. Governing Law</dt>
                    <dd>
                        9.1 This agreement shall be governed by the laws of The Republic of Ghana, without regard to
                        conflicts of law principles.
                    </dd>
                    <dt>10. Amendments</dt>
                    <dd>
                        10.1 The Company reserves the right to amend these terms and conditions at any time,
                        with or without prior notice to the Renter.
                    </dd>
                </dl>
                
                <!--PRIVACY POLICY-->
                <br><hr>
                <h4>Privacy Policy for Car Rental Service</h4>
                <dl>
                    <dt>1. Introduction</dt>
                    <dd>
                        1.1 <b>JJODEM</b> Car Rental service is committed to protecting the privacy and security of your
                        personal information. This Privacy Policy outlines how we collect, use, disclose, and protect
                        the information we collect from customers and users of our car rental service.
                    </dd>
                    <dt>2. Information We Collect</dt>
                    <dd>
                        2.1 We may collect the following types of personal information from you:
                        <ul>
                            <li>- Name, address, and contact information (e.g., email address, phone number)</li>
                            <li>- Driver's license information</li>
                            <li>- Payment information (e.g., credit card details, mobile money number)</li>
                            <li>- Vehicle rental history</li>
                            <li>- Geolocation data (e.g., for navigation and tracking purposes)</li>
                            <li>- Communication preferences</li>
                        </ul>
                    </dd>
                    <dt>3. How We Use Your Information</dt>
                    <dd>
                        3.1 We may use your personal information for the following purposes:
                        <ul>
                            <li>- Processing and managing vehicle rental booking</li>
                            <li>- Verifying your identity and eligibility for rental services</li>
                            <li>- Communicating with you about your rental bookings, payments, and updates</li>
                            <li>- Providing customer support and resolving inquiries or complaints</li>
                            <li>- Improving our services and customer experience</li>
                            <li>- Complying with legal and regulatory requirements</li>
                        </ul>
                    </dd>
                    <dt>4. Information Sharing and Disclosure</dt>
                    <dd>
                        4.1 We may share your personal information with third parties in the following circumstances:
                        <ul>
                            <li>
                                - With our trusted service providers and business partners who assist us in delivering our
                                services (e.g., payment processors, vehicle insurance providers)
                            </li>
                            <li>
                                - With law enforcement agencies, government authorities, or other third parties as required
                                by law or to protect our legal rights in connection with a business transaction, such as a
                                merger, acquisition, or sale of assets.
                            </li>
                        </ul>
                    </dd>
                    <dt>5. Data Security</dt>
                    <dd>
                        5.1 We implement reasonable security measures to protect your personal information from unauthorized
                        access, disclosure, alteration, or destruction.
                    </dd>
                    <dd>
                        5.2 However, no method of transmission over the internet or electronic storage is 100% secure,
                        and we cannot guarantee the absolute security of your information.
                    </dd>
                    <dt>6. Data Retention</dt>
                    <dd>6.1 We retain your personal information for as long as necessary to fulfill the purposes outlined
                        in this Privacy Policy, unless a longer retention period is required or permitted by law.
                    </dd>
                    <dt>7. Your Rights</dt>
                    <dd>7.1 You have the right to:
                        <ul>
                            <li>- Access and request copies of your personal information</li>
                            <li>- Correct or update your personal information</li>
                            <li>- Delete your personal information</li>
                            <li>- Object to the processing of your personal information</li>
                            <li>- Restrict the processing of your personal information</li>
                            <li>- Request the transfer of your personal information to another party</li>
                        </ul>
                    </dd>
                    <dd>
                        7.2 To exercise your rights or for any questions or concerns about our privacy practices,
                        please contact us using the information provided in the "Contact Us" section below.
                    </dd>
                    <dt>8. Changes to this Privacy Policy</dt>
                    <dd>
                        8.1 We may update this Privacy Policy from time to time to reflect changes in our practices or
                        legal requirements. We will notify you of any material changes by posting the updated Privacy
                        Policy on our website.
                    </dd>
                    <dt>9. Contact Us</dt>
                    <dd>9.1 If you have any questions, comments, or concerns about this Privacy Policy or our privacy
                        practices, please contact us at:
                        <p>
                            <address>
                                Box 3332 Kaneshie <br>
                                Accra, Ghana <br>
                            </address>  
                        </p>
                        <p>
                            <a href="tel:+233547813006">Tel: +233 54 781 3006</a><br>
                            <a href="mailto:jjodemlogistics@gmail.com">Email: jjodemlogistics@gmail.com</a>
                        </p>
                    </dd>
                </dl>
        </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}
