<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load copyright_tags %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>

    <link rel="stylesheet" href="{% static 'rentals/css/footer.css' %}">

</head>
<body>
    
    <div class="row footer">
        <!--Footer Left Section-->
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div>
                <h5 class="footer-section-h5">Quick Links</h5>
                <ul class="footer-ul">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'inventory-list' %}">Inventory</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'about' %}">Contact</a></li>
                    <li><a href="{% url 'terms-and-condition' %}">Terms and Conditions</a></li>
                    <li><a href="{% url 'terms-and-condition' %}">Privacy Policy</a></li>
                </ul>
            </div>
        </div>

        {% if shop_info %}
             <!--Footer Middle Section-->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="footer-sec3-div">
                    <a href="{% url 'home' %}"><img src="{{ shop_info.logo.url }}" alt="jjodem-logo"></a>
                    <p>{{shop_info.slogan}}</p>
                </div>
            </div>

            <!--Footer Right Section-->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div>
                    <h5 class="footer-section-h5">Contact</h5>
                    <ul class="footer-ul">
                        <li>{{ shop_info.address }}</li>
                        <li><a href="mailto:jjodemlogistics@gmail.com">Email: {{ shop_info.email }}</a></li>
                        <li><a href="tel:+233547813006">Tel: {{ shop_info.mobile }}</a></li>
                    </ul>
                </div>

                <!--Footer Social Handles-->
                <div>
                    {% if social_handles %}
                        <ul class="footer-social-ul">
                            {% for name, handle_url in social_handles.items %}
                                <li>
                                    <a href="{{ handle_url }}" target="_blank">
                                        {% if name == 'Facebook' %}
                                            <i class="bi bi-facebook"></i>
                                        {% elif name == 'WhatsApp' %}
                                            <i class="bi bi-whatsapp"></i>
                                        {% elif name == 'Twitter' %}
                                            <i class="bi bi-twitter-x"></i>
                                        {% else %}
                                            <i class="bi bi-question-circle"></i>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="row copyright">
            <div class="col">
                <p>&copy; {% current_year %} JJODEM LOGISTICS. All rights reserved.</p>
            </div>
        </div>    
    </div>
    
</body>
</html>