<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>

    <link rel="stylesheet" href="{% static 'rentals/css/footer.css' %}">

</head>
<body>
    
    <div class="row footer">
        <div class="col-4">
            <div class="footer-links">
                <h6 class="footer-section-h6">Quick Links</h6>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'inventory-list' %}">Inventory</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'about' %}">Contact</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>

             <!--Social Handles-->
             <div class="footer-social">
                <ul>
                    <li>
                        <a href=""><i class="bi bi-facebook footer-social-color"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="bi bi-whatsapp footer-social-color"></i></a>
                    </li>
                    <li class="">
                        <a href=""><i class="bi bi-twitter-x footer-social-color"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="bi bi-instagram footer-social-color"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        {% for info in shop_info %}
        <div class="col-4">
            <div class="footer-links">
                <h6 class="footer-section-h6">Contact</h6>
                <ul>
                    <li><a href="">{{info.address}}</a></li>
                    <li><a href="mailto:jjodemlogistics@gmail.com">{{info.email}}</a></li>
                    <li><a href="tel:+233547813006">{{info.mobile}}</a></li>
                </ul>
            </div>
        </div>

        <div class="col-4">
            <div class="footer-links">
                <img src="{{info.logo.url}}" alt="jjodem-logo">
                <ul>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">@Copyright 2024</a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>