<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>

    <link rel="stylesheet" href="{% static 'rentals/css/footer.css' %}">

</head>
<body>
    <div class="row footer">
        <div class="col-4">
            <div class="footer-links">
                <h6 class="footer-section-h6">Contact</h6>
                <ul>
                    <li><a href="">Logo</a></li>
                    <li><a href="">slogan</a></li>
                    <li><a href="">Address</a></li>
                    <li><a href="">email</a></li>
                    <li><a href="">mobile</a></li>
                </ul>
            </div>

            <!--Social Handles-->
            <div class="footer-social">
                <ul>
                    <li>
                        <a href=""><i class="bi bi-facebook blue"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="bi bi-whatsapp green"></i></a>
                    </li>
                    <li class="">
                        <a href=""><i class="bi bi-twitter-x black"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="bi bi-instagram red"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-4">
            <div class="footer-links">
                <h6 class="footer-section-h6">Quick Links</h6>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Rentals</a></li>
                    <li><a href="">Tour Guide</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="footer-links">
                <h4 class="footer-section-h4">JJODEM RENTALS</h4>
                <img src="" alt="jjodem logo">
                <ul>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">@Copyright 2024</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>