<!doctype html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NavBar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static 'rentals/css/navbar.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <!--MAIN NAVBAR-->
    <div class="row">
        <nav class="navbar navbar-expand-lg nav-item">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">JJODEM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-link">
                        <li>
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'inventory-list' %}">Inventory</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'about' %}">Contact</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>

                    <!--Social Handles 1 -Display on Desktop-->
                    <div class="mobile-display social">
                        {% if social_handles %}
                            <ul>
                                {% for name, handle_url in social_handles.items %}
                                    <li>
                                        <a href="{{ handle_url }}" target="_blank">
                                            {% if name == 'Facebook' %}
                                                <i class="bi bi-facebook"></i>
                                            {% elif name == 'WhatsApp' %}
                                                <i class="bi bi-whatsapp"></i>
                                            {% elif name == 'Twitter' %}
                                                <i class="bi bi-twitter-x"></i>
                                            {% else %}
                                                <i class="bi bi-question-circle"></i>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!--Search Bar on Navebar-->
                    <form action="{% url 'search' %}" method="GET">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-sm form-style"
                                    name="search-data" placeholder="Search brand/model">
                            <button type="submit" class="btn-dark">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>

                    <!--Social Handles 2 -Display on Mobile-->
                    <div class="col-2 desktop-display social">
                        {% if social_handles %}
                            <ul>
                                {% for name, handle_url in social_handles.items %}
                                    <li>
                                        <a href="{{ handle_url }}" target="_blank">
                                            {% if name == 'Facebook' %}
                                                <i class="bi bi-facebook"></i>
                                            {% elif name == 'WhatsApp' %}
                                                <i class="bi bi-whatsapp"></i>
                                            {% elif name == 'Twitter' %}
                                                <i class="bi bi-twitter-x"></i>
                                            {% else %}
                                                <i class="bi bi-question-circle"></i>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
            </div>
        </nav>
    </div><!--END OF MAIN NAVBAR-->

    <!--CONTACT INFO NAVBAR-->
    <div class="row shop-info mobile-display sticky-top">
        {% if shop_info %}
            <div class="col-lg-4">
                <i class="bi bi-pin-map-fill"></i>
                {{shop_info.address}}
            </div>
            <div class="col-lg-4">
                <a href="tel:+233547813006">
                    <i class="bi bi-telephone-fill"></i>
                    {{shop_info.mobile}}
                </a>
            </div>
            <div class="col-lg-4">
                <a href="mailto:jjodemlogistics@gmail.com">
                    <i class="bi bi-envelope-at-fill"></i>
                    {{shop_info.email}}
                </a>
            </div>
        <!-- <ul>
            <li>
                <i class="bi bi-pin-map-fill"></i>
                {{shop_info.address}}
            </li>
            <li>
                <a href="tel:+233547813006">
                <i class="bi bi-telephone-fill"></i>
                {{shop_info.mobile}}
                </a>
            </li>
            <li>
                <a href="mailto:jjodemlogistics@gmail.com">
                <i class="bi bi-envelope-at-fill"></i>
                {{shop_info.email}}
                </a>
            </li>
        </ul> -->
        {% endif %}
    </div><!--END OF CONTACT INFO NAVBAR-->
</body>
</html>
