
.home-card{
    margin: 5% auto 5% auto;
}
.home-card img{
    height: 175px;
}

/*DETAIL*/
.detail-card{
    margin: 5% auto 5% auto;
    text-align: center;
}
.detail-card img{
    height: 200;
    width: 250;
    border-radius: 5%;
}