.footer{
    background-image: url('/static/rentals/images/dark-footer2.jpg');
    padding-top: 5%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-section-h6{
    color: #3B9C9C;
    text-align: left;
    margin-left: 22%;
    text-decoration: underline;
}

/*FOOTER LINKS*/
.footer-links ul{
    list-style-type: none;
    text-align: left;
    margin-left: 15%
}
.footer-links li a{
    font-size: 1em;
    text-decoration: none;
    color: #EAEEE9;
}
.footer-links li a:hover{
    text-decoration: underline;
    color: #3B9C9C;
}

/*SOCIALS*/
.footer-social ul{
    margin: 10px;
    list-style-type: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0px;
    text-align: center;
}
.footer-social ul li{
    display: inline-block;
    margin: 0px 15px 0px 15px;
    padding: 0px;
}
.footer-social li a{
    font-size: 1.3em;
}
.blue{
    color: #3B5998;
}
.green{
    color: #4FCE5D;
}
.black{
    color: #000000;
}
.red{
    color: #CD486B;
}
.footer-section-h4{
    color: #3B9C9C;
    text-align: left;
}
