.footer{
    background-image: url('/static/rentals/images/dark-footer2.jpg');
    padding-top: 5%;
    margin: 5%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-section-h6{
    color: #3B9C9C;
    text-align: left;
    margin-left: 22%;
    text-decoration: underline;
}

/*FOOTER LINKS*/
.footer-links ul{
    list-style-type: none;
    text-align: left;
    margin-left: 15%
}
.footer-links li a{
    font-size: 1em;
    text-decoration: none;
    color: #EAEEE9;
}
.footer-links li a:hover{
    text-decoration: underline;
    color: #3B9C9C;
}
.footer-links img{
    width: 35%;
    height: 40%;
    margin-left: 15%;
}

/*SOCIALS*/
.footer-social{
    margin-left: 15%;
}
.footer-social ul{
    list-style-type: none;
    padding: 0px;
    text-align: left;
}
.footer-social ul li{
    display: inline-block;
    margin: 0px 15px 0px 15px;
    padding: 0px;
}
.footer-social li a{
    font-size: 1.3em;
    color: #FFFFFF;
}