.nav-link a{
    color: #ffffff;
    font-size: 1.2em;
}
.nav-link a:hover{
    background-color: #FFE6E8;
    border-radius: 6px;
    color: #026C3D;
}
.nav-link li{
     margin-left: 12px;
}
.nav-items{
    background-color: #008B8B;
}

/*SOCIALS*/
.social{
    margin-right: 10px;
    list-style-type: none;
}
.social li{
    display: inline;
    margin-right: 10px;
}
.social li a{
    font-size: 1.3em;
}
.blue{
    color: white;
}
.green{
    color: green;
}
.black{
    color: black;
}
.red{
    color: red;
}


/* MOBILE DISPLAY FOR TO NAV*/
@media only screen and (max-width: 768px) {
  .mobile-display {
    display: none;
  }
}
