/*TOP NAV*/
.top-nav{
    background-color: transparent;
    padding: 0% !important;
    margin: 0% !important;
}
.top-nav div{
    text-align: center;
    color: #000000;
    font-weight: 400;
}

/*MAIN NAV*/
.nav-item{
    background-color: #008080;
}
.nav-item img{
    width: 85px;
    height: 50px;
}
.nav-link a{
    color: #000000;
    font-size: 1.2em;
    font-weight: 600;
}
.nav-link a:hover{
    background-color: #FFE6E8;
    border-radius: 6px;
    color: #026C3D;
}
.nav-link li{
     margin-left: 12px;
}
.dropdown-item{
    color: #3B9C9C !important;
    font-weight: medium !important;
}

/*SOCIALS*/
.social ul{
    margin-right: 10px;
    list-style-type: none;
    border-radius: 8px;
    padding: 0px;
}
.social ul li{
    display: inline-block;
    margin-right: 10px;
    padding: 0px;
}
.social li a{
    font-size: 1.2em;
}
.social-color{
    color: #FFFFFF;
}

/*SEARCH BAR*/
.form-style{
    border-radius: 12px 0px 0px 12px !important;
    background: transparent !important;
    outline: #000000 !important;
    color: #000000 !important;
}
input::placeholder {
    color: #FFFFFF !important;
    font-style: italic;
}
/**
input:focus{
    border: transparent !important;
}**/


/* MOBILE DISPLAY FOR TO NAV*/
@media only screen and (max-width: 768px) {
    .mobile-display {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .desktop-display {
        display: none;
    }
}
