.footer{
    background-color: #2C3539;
    padding-top: 5%;
    margin: 5%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-section-h5{
    color: #3B9C9C;
    text-align: left;
    margin-left: 22%;
    text-decoration: underline;
}

/*FOOTER LINKS*/
.footer-ul{
    list-style-type: none;
    text-align: left;
    margin-left: 15%
}
.footer-ul li{
    color: #EAEEE9;
}
.footer-ul li a{
    font-size: 1em;
    text-decoration: none;
    color: #EAEEE9;
}
.footer-ul li a:hover{
    text-decoration: underline;
    color: #3B9C9C;
}
.footer-sec3-div img{
    width: 35%;
    height: 40%;
    margin-left: 15%;
}

/*SOCIALS*/
.footer-social-ul{
    list-style-type: none;
    margin: 0px 15px 0px 15px;
    padding: 0px;
    margin-left: 21%;
}
.footer-social-ul li{
    display: inline-block;
    margin: 2%;
}
.footer-social-ul li a{
    font-size: 1.3em;
    color: #FFFFFF;
}